/* PADRONIZAÇÃO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.main-page {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin: 2% 12%;
}

/* REUTILIZÁVEIS  */
.field-width {
    width: 49%;
}

.field-bg {
    background-color: #f7f7f7;
}

button:focus-visible,
input:focus-visible,
textarea:focus-visible {
    outline: 2px solid var(--color-primary);
    outline-offset: 2px;
    border-radius: 6px;
}

.is-hidden {
    display: none !important;
}

.mode-switch-active {
    background-color: var(--bg-mode-switch-active) !important;
}

/* VARIÁVEIS DE COR */
:root {
    --color-primary: #0B64F4;
    --color-sucess: #20C941DB;
    --color-border-default: rgba(0, 0, 0, 0.250);

    --bg-color-primary: #0b64f42c;
    --bg-color-sucess: #20c94233;
    --bg-text-color-second: #5c6f8a28;
    --bg-container: #fff;
    --bg-page: #f8f8f8;
    --bg-input-form: #f0f0f0;
    --bg-mode-switch-active: #f8f8f8;
    --bg-hover-default: #f7f9fc;

    --text-color-primary: #4f5d6f;
    --text-color-second: #5C6F8A;
    --text-color-strong: #000;
}

/* TEMA ESCURO */
.dark-theme {

    --color-primary: #4C8DFF;
    --color-sucess: #3EE089;
    --color-border-default: rgba(255, 255, 255, 0.25);

    --bg-color-primary: #4c8dff1f;
    --bg-color-sucess: #3ee0891f;
    --bg-text-color-second: #334155;

    --bg-container: #1e293b;
    --bg-page: #0f172a;
    --bg-input-form: transparent;
    --bg-mode-switch-active: rgba(63, 82, 128, 0.434);
    --bg-hover-default: #0b64f40f;

    --text-color-primary: #e2e8f0;
    --text-color-second: #94a3b8;
    --text-color-strong: #fff;
}


/* COR DE FUNDO E FONTE */
body {
    font-family: "Inter", system-ui, sans-serif;
    background-color: var(--bg-page);
}

/* HEADER */
.header-page {
    display: flex;
    border-bottom: 1px solid rgba(146, 146, 146, 0.215);
    padding: 2.5rem 2rem;
}

.header-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 4rem;
}

.header-content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 1rem;
}

.header-brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.header-brand img {
    height: 2.5rem;
}

.header-icon-email {
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
}

.header-brand h1 {
    font-size: 3.5rem;
    font-weight: bold;
    color: var(--text-color-strong);
}

.header-subtitle {
    font-size: 1.7rem;
    text-align: center;
    color: var(--text-color-second);
}

.page-theme {
    display: flex;
    justify-content: space-between;
    background-color: var(--bg-page);
    padding: .3rem .3rem;
    border: 1px solid var(--color-border-default);
    border-radius: 2rem;
    width: 7.5rem;
}

.page-theme img {
    width: 2.5rem;
    height: 2.5rem;
}

.theme-icon-sol,
.theme-icon-lua {
    padding: .3rem;
}

.theme-active {
    background-color: var(--color-primary);
    border-radius: 50%;
}

.theme-icon-sol,
.theme-icon-lua {
    display: flex;
    align-items: center;
}

/* PAINEL DE MÉTRICAS */
.metrics-dashboard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.5rem;
}

.metrics-card {
    padding: 1.6rem;
    border-radius: 1rem;
    flex: 1;
    background-color: var(--bg-container);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition-duration: 0.3s;
}

.metrics-card:hover {
    transform: translateY(-0.4rem);
}

.metrics-card-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    padding: .8rem;
}

.metrics-card-icon img {
    width: 2.5rem;
    height: 2.5rem;
}

.card-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-line h2 {
    color: var(--text-color-primary);
    font-size: 1.6rem;
    font-weight: 600;
}

.metrics-card span {
    font-size: 3.4rem;
    font-weight: bold;
}

.icon-total {
    background-color: var(--bg-color-primary);
}

.icon-productive {
    background-color: #2cff2c2c;
}

.icon-unproductive {
    background-color: #ff00002c;
}

.icon-performance {
    background-color: #8080802c;
}

.number-email-total {
    color: var(--color-primary);
}

.number-productive {
    color: var(--color-sucess);
}

.number-unproductive {
    color: #d80101;
}

.number-performance {
    color: #808080;
}

/* SEÇÃO PARA ANALISAR O EMAIL */
.email-analysis {
    background-color: var(--bg-container);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.mode-switch {
    display: flex;
    justify-content: space-around;
    background-color: var(--bg-text-color-second);
    padding: .5rem;
    border-radius: 1rem;
}

.mode-switch button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 600;
    width: 50%;
    border: none;
    border-radius: 1rem;
    background-color: transparent;
    padding: .5rem;
    color: var(--text-color-primary);
    gap: 1rem;
}

.icone-lapis,
.icone-upload {
    width: 2.2rem;
}

.form-analysis {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 3rem 0;
}

.form-row {
    display: flex;
    gap: 2rem;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.field label {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--text-color-primary);
}

.field input,
.field textarea {
    border-radius: .5rem;
    border: 1px solid rgba(0, 0, 0, 0.116);
    padding: 1rem;
    font-size: 1.6rem;
    width: 100%;
    background-color: var(--bg-input-form);
}

textarea {
    resize: none;
    height: 20rem;
}

.upload-area {
    display: block;
    width: 100%;
    cursor: pointer;
}

.upload-input {
    display: none;
}

.upload-ui {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 25rem;
    gap: 1.2rem;
    padding: 4rem 2rem;
    border: 2px dashed var(--bg-text-color-second);
    border-radius: 1.2rem;
    background-color: var(--bg-container);
    text-align: center;
    transition: 0.25s ease;
}

.upload-ui span {
    font-size: 1.6rem;
    color: var(--text-color-second);
    font-weight: 500;
}

.upload-ui img {
    width: 3.2rem;
    opacity: 0.8;
}

.upload-area:hover .upload-ui {
    border-color: var(--color-primary);
    background-color: var(--bg-color-primary);
}

.submit-analysis button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    border: none;
    background-color: var(--bg-color-primary);
    color: white;
    width: 100%;
    padding: 1rem;
    font-size: 1.6rem;
    gap: 1.5rem;
    font-weight: 600;
    transition: 0.2s;
    cursor: pointer;
}

.submit-analysis button:hover {
    background-color: var(--color-primary);
}

.submit-analysis img {
    width: 2rem;
}

/* SEÇÃO PARA LISTAR OS EMAILS */
.email-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.email-list-toolbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.email-list-filters {
    width: 35%;
    display: flex;
    justify-content: space-between;
}

.filter {
    border: none;
    background-color: transparent;
    font-size: 1.6rem;
    color: var(--text-color-primary);
}

.filter-active {
    background-color: var(--color-primary);
    padding: 1rem 1.8rem;
    border-radius: 1.5rem;
    color: var(--bg-container);
    gap: 1rem;
}

.filter-active span {
    background-color: #4e92ff;
    padding: .3rem .6rem;
    border-radius: 3rem;
}

.email-list-search {
    display: flex;
    align-items: center;
    gap: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.201);
    padding: 1rem;
    border-radius: 1rem;
    width: 20%;
}

.email-list-search img {
    width: 2rem;
}

.email-list-search input {
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
}

.email-list-search:focus-within {
    border: 1px solid var(--color-primary);
}

.email-table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--bg-container);
    border-radius: 1.2rem;
}

.email-table img {
    width: 2rem;
}

.email-table th,
.email-table td {
    padding: 2rem;
    text-align: left;
    vertical-align: middle;
}

.email-table tbody tr:not(:last-child) {
    border-top: 1px solid var(--color-border-default);
    border-bottom: 1px solid var(--color-border-default);
}

.email-table tr:hover {
    background: var(--bg-hover-default);
}

.email-table-title {
    text-align: left;
    color: var(--text-color-primary);
    font-size: 1.5rem;
}

.subject-email {
    font-size: 1.6rem;
    color: var(--text-color-second);
}

.sender-email {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--text-color-strong);
}

.sender-email-icon {
    display: flex;
    align-items: center;
    background-color: var(--bg-color-primary);
    border-radius: 3rem;
    padding: .5rem;
}

.info-sender-email {
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
}

.info-sender-email small {
    color: var(--text-color-second);
}

.email-date {
    font-size: 1.5rem;
    color: var(--text-color-second);
}

.email-status {
    display: inline-flex;
    align-items: center;
    gap: .6rem;
    font-size: 1.4rem;
    padding: 0.4rem 1rem;
    border-radius: 5rem;
}

.email-status-productive {
    background-color: var(--bg-color-sucess);
    color: var(--color-sucess);
}

.email-status-unproductive {
    background-color: #ff000033;
    color: #ff0000db;
}

.email-actions {
    display: flex;
    gap: 1.5rem;
}

.email-actions button {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    padding: 1rem;
}

.email-actions button:hover {
    background-color: #5c6f8a28;
    border-radius: 1rem;
}